## ETL Project
### Clean and combine data about countries from mujltiple sources in preparation for correlating the Happiness Index to various measures
1.  Happiness Index
2.  Income per Capita
3.  Military Expentiture
4.  Life Expectancy
5.  Crime Rates

In [3]:
# Dependencies
import pandas as pd
import psycopg2

from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from config import pgkey

In [4]:
# Filepaths for all inputs

# Happiness Index
happiness_input = "Resources/WorldHappinessIndex2018.csv"

#WDI input 1 - Income per capita
WDI_path = "Resources/WDI_Selected_data.xlsx"

#WDI input 2 - Military expenditures
WDI_path2 = "Resources/saif_countries.xlsx"

#World Bank Input - Life expectancy
WBK_input = "Resources/Life_Expectancy.csv"

#World Population Review input - Crime rate
WPR_input = "Resources/Crime_Rate.csv"

In [5]:
# Read Happiness data and prep for join and load
happiness_df = pd.read_csv(happiness_input, encoding="UTF 8")
#happiness_df.head()

# Remove Rank field (rank is derived from Score)
del happiness_df['Rank']
#happiness_df.head()

# Rename fields for load into table
happiness_df = happiness_df.rename(columns={"Year" : "stats_year",
                                            "Country" : "stats_country",
                                            "Score" : "hap_score",
                                            "GDP_Per_Capita" : "hap_GDP",
                                            "Social_Support" : "hap_social",
                                            "Healthy_Life_Expectancy" : "hap_health",
                                            "Freedom_To_Make_Life_Choices" : "hap_freedom", 
                                            "Generosity" : "hap_generosity",
                                            "Perceptions_Of_Corruption" : "hap_corruption",
                                            "Residual" : "hap_residual"
                                            })
#happiness_df.head()

In [6]:
# Income per capita
# Read Income per capita
WDI_path_df = pd.read_excel(WDI_path)
#WDI_path_df.head()

# Select 2018 data
# Note:  Quotes required for column header 2018 for this file - Why is that (compare next file)?
data = WDI_path_df[["Country Name", "2018"]]
#data.head()

# Remove NaN
clean_WDI_df = data[data['2018'].notna()]
#clean_WDI_df.head()

# Rename columns to Postgres schema
clean_WDI_df.rename(columns = {'Country Name':'stats_country', '2018':'WDI_income_per_capita'
                              }, inplace = True)
clean_WDI_df.head()

C:\Users\rober\anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

                    stats_country  WDI_income_per_capita
0                      Arab World            5416.267637
1          Caribbean small states            7831.168974
2  Central Europe and the Baltics           12834.069066
3      Early-demographic dividend            2988.962642
4             East Asia & Pacific            8943.136341

In [7]:
# Military Expenditure
# Read Income per capita
WDI_path_df2 = pd.read_excel(WDI_path2)
#WDI_path_df2.head()

# Select 2018 data
# Note:  Quotes not required for column header 2018 for this file - Why is that (compare prev file)?
data2 = WDI_path_df2[["Country Name", 2018]]
#data2.head()

# Remove NaN
clean_WDI_df2 = data2[data2[2018].notna()]
clean_WDI_df2.head()

# Rename columns to Postgres schema
clean_WDI_df2.rename(columns = {'Country Name':'stats_country', 2018:'WDI_military_exp'
                              }, inplace = True)
clean_WDI_df2.head()

C:\Users\rober\anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

  stats_country WDI_military_exp
0   Afghanistan             1.01
1       Albania             1.17
2       Algeria             5.51
5        Angola             1.81
7    Arab World             6.06

In [8]:
# Merging data sources
# Note:  doing this turns Year into a decimal - Should be text

#merged1 = pd.merge(happiness_df, clean_WDI_df, on="stats_country", how="inner")
#merged2 = pd.merge(merged1, clean_WDI_df2, on="stats_country", how="inner")
#complete_df = pd.merge(merged2, Zean_df, on="stats_country", how="outer")
#merged2.head()

In [9]:
# Life Expectancy
# Read World Bank data and prep for join and load
life_df = pd.read_csv(WBK_input, encoding="ISO-8859-1")
#life_df.head()

# Remove NaaN

# Rename columns to Postgres schema
life_df = life_df.rename(columns={"Country":"stats_country", "2018":"WBK_life_expectancy"})
#life_df.head()

In [10]:
# Crime Rates
# Read WPR data and prep for join and load
crime_df = pd.read_csv(WPR_input)

# Remove NaaN

# Rename columns to Postgres schema
crime_df = crime_df.rename(columns={"Country":"stats_country", "crime.index": "WPR_crime_rate"})
#crime_df.head()

# Join Life Expectancy and Crime Rates
combined_df = pd.merge(life_df, crime_df, on="stats_country", how="inner")

combined_df.head()

          stats_country  WBK_life_expectancy  WPR_crime_rate
0           Afghanistan                 64.5           76.97
1                Angola                 60.8           65.74
2               Albania                 78.5           39.86
3  United Arab Emirates                 77.8           15.45
4             Argentina                 76.5           62.26

In [11]:
# Merging all data sources for load into table

merged1 = pd.merge(happiness_df, clean_WDI_df, on="stats_country", how="inner")
merged2 = pd.merge(merged1, clean_WDI_df2, on="stats_country", how="inner")
complete_df = pd.merge(merged2, combined_df, on="stats_country", how="inner")
complete_df.head()

,stats_year,stats_country,hap_score,hap_GDP,hap_social,hap_health,hap_freedom,hap_generosity,hap_corruption,hap_residual,WDI_income_per_capita,WDI_military_exp,WBK_life_expectancy,WPR_crime_rate
0,2018,Finland,7.632,1.305,1.592,0.874,0.681,0.192,0.393,2.988,41000.954812,1.37,81.7,25.53
1,2018,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340,2.723,66019.072943,1.63,82.8,34.62
2,2018,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408,2.779,52641.134524,1.29,81.0,26.09
3,2018,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138,2.564,58080.294993,-,82.9,23.70
4,2018,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357,2.675,65569.265982,0.66,83.8,21.58

In [12]:
# Connect to Postgres DB
con_string = f"postgresql+psycopg2://postgres:{pgkey}@localhost:5432/ETL_DB"
engine = create_engine(con_string)
connection = engine.connect()

# Load combined data into database
# Replace table if already exists
complete_df.to_sql('country_stats', con=engine, if_exists='replace')

In [ ]:
# To-do to make this repeatable for multiple years with little or no updates
# 1. Add logic to resolve known variations in country - this was handled manaully for this excercise
# 2. Some input files are already restricted by year (e.g Happiness index), others have multiple years in each record
#    Look for a better way handle both structures (e.g. for data with multiple years, find column that correlates to 
#    input year from Happiness index; validate that input year for singler year files matches the year in the Happiness
#    Index)
# 3. Verify whether if_exists='replace' replaces the whole table or just the rows that already exist